{% extends 'base/base.html' %}
{% load static %}
{% block title %} CLASSROOM UNESUM {% endblock %}


{% block content %} 

<!-- 
<div class="row justify-content-center mt-5">
        
        <div class="col-md-7 text-center">

             <h1>Bienvenido</h1>
             <br>
             <br>
            <h5>Iniciar sesión como,</h5>

            <a role="button" class="btn btn-primary btn-lg" href="">Profesor</a>
            <a role="button" class="btn btn-primary btn-lg" href="">Estudiante</a>

            <!-- <a href="/classroom/teacher.html" id="">Profesor</a>
            <a href="/classroom/student.html" id="">Estudiante</a> 
-->

            <div class="row">
                    <div class="col-6 main_section">
                            <h5>Bienvenido a</h5>
                            <h1> CLASSROOM UNESUM</h1>
                            <span>Bienvenidos <strong>a un nuevo</strong> <br>modelo de <strong>estudio</strong> </span><br>
                            <hr>
                            <a href="" class="btn btn-info"> Estudiante</a> &nbsp; <a href="" class="btn btn-primary">Profesor</a>
                               
                    </div>
                    <div class="col-6">
                            <img src="{% static 'others/classroom3.png' %}" alt="">
                    </div>
            </div>

{% endblock %}
